<mat-toolbar color='primary'>
  <span>WireFrame</span>
</mat-toolbar>
<mat-card class='spacing'>
  <mat-card-header style="padding: 10px;">
    <mat-card-title><h1 class='mat-display-2'>Add/Edit Syllabus</h1></mat-card-title>
    <mat-card-subtitle>Manage topics and subtopics</mat-card-subtitle>
  </mat-card-header>
  <mat-grid-list cols='4' rowHeight='2:2'>
    <mat-grid-tile colspan='1'>
      <app-list></app-list>
    </mat-grid-tile>
    <mat-grid-tile colspan='3'>
      <app-detail></app-detail>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
